body {
	/*background-color: grey;*/
	background-image: url('subway-lines.png');
}

/*questions + réponses*/
.common {
	padding: 2%;
	width: 80%;
	margin : auto;
	margin-top: 5%;
	background-color: white;
	border-radius: 10px;
}

/*questions*/
.content {
	display: flex;
	/*background-color: #87CEEB;*/
	flex-direction: column;

}

/*réponses*/
.result {
	/*background-color: #E0FFFF;*/
}
