body {
	margin: 0;
	padding-bottom: 0;
	text-align: center;
	background-image: url("../img/france.png");
	background-size: cover;
}

#root {
	display: flex;
	justify-content: center;
	min-height: 100vh;
	align-items: center;
	font-size: 30px;
	font-family: 'Sigmar One', cursive;
	color: #263238;
}

#root > * {
	width: 960px;
	
}

label {
	display: block;
	margin-top: 5px;
	color: #455A64;
	outline: none;
	width: 500px;
    text-align: center;
}

.rep {
	display: none;
}

input {
	width: 100%;
	font-size: 40px;
	padding: 5px;
	font-family: 'Sigmar One', cursive;
	border: none;
	background-color: #0091EA;
	color: white;
	border-radius: 2px;
	cursor: pointer;
	outline: none;
	box-shadow: 0px 3px 5px rgba(0,0,0,0.2);
	transition: 0.2s;
}

label:hover, .check:hover {
	transform: translateY(5px);
	box-shadow: 0px 1px 5px rgba(0,0,0,0.4);
}

/*label:focus {
	transform: translateY(5px);
	box-shadow: 0px 1px 5px rgba(0,0,0,0.4);
}*/

.check {
	width: 50%;
	font-size: 40px;
	margin-top: 10px;
	padding: 5px;
	font-family: 'Sigmar One', cursive;
	border: none;
	background-color: rgba(37,76,37,0.92);
	color: white;
	border-radius: 2px;
	cursor: pointer;
	outline: none;
	box-shadow: 0px 3px 5px rgba(0,0,0,0.2);
	transition: 0.2s;
}

.content {
	display: flex;
    flex-direction: column;
    align-items: center;
}

.ok {
	transform: translateY(5px);
	box-shadow: 0px 1px 5px rgba(0,0,0,0.4);
	background-color: rgba(26,255,55,0.72) !important;
}

.nok {
	transform: translateY(5px);
	box-shadow: 0px 1px 5px rgba(0,0,0,0.4);
	background-color: rgba(255,26,26,0.72) !important;
}